<!DOCTYPE html>
<html lang="en-US">
<head>

    <!-- Обязательные мета-теги -->
    <meta charset="utf-8">
	<meta name="author" content="Ilya Tyurin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href=" {% static 'polls/css/style.css' %}">
    <!-- <script src="{% static 'polls/js/script1.jss' %}"></script> -->
</head>
<body class="body">
    <header class="site-header">
        <div class="border"></div>
        <form class="searching">
            <input type="search" name="place-for-searching" placeholder="Search query">
            <input type="submit" value="Go!">
            <button class="profile-button" type="button"><img src="{% static 'polls/media/user.png' %}"></button>
        </form>
    </header>

	<nav class="navigation-panel">
        <div class="border"></div>

        <ul class="navigation-text">
            <li class="nav-url-container"><a href="#" class="nav-url">Документы</a></li>
            <li class="nav-url-container"><a href="#" class="nav-url">Мои документы</a></li>
            <li class="nav-url-container"><a href="#" class="nav-url">Настройки</a></li>
        </ul>
    </nav>
    <main class="main">
        <div class="border"></div>

        <section class="documents">

        </section>

        <section class="my-documents">

        </section>

        <section class="settings">

        </section>
    </main>
    <!-- Футер закреплен внизу, независимо от количества постов на странице -->
    <footer class="footer">
		<!--
		<p><a href="{% url 'polls-home' %}">© Клуб Pytho</a></p>
		-->
	</footer>
</body>
</html>