<!DOCTYPE html>
<html lang="en-US">
<head>

    <!-- Обязательные мета-теги -->
    <meta charset="utf-8">
	<meta name="author" content="Ilya Tyurin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href=" {% static 'polls/css/style.css' %}">
    <link rel="stylesheet" href=" {% static 'polls/css/popups.css' %}">
    <link rel="stylesheet" href=" {% static 'css/head_style.css' %}">
    <link rel="stylesheet" href=" {% static 'css/main_style.css' %}">
    <link rel="stylesheet" href=" {% static 'css/navigation_style.css' %}">

    {% load crispy_forms_tags %}

</head>
<body class="body">
    <header class="site-header">
        <div class="border"></div>
        <ul class="site-header-right">
            <form class="searching">
                <input type="search" name="place-for-searching" placeholder="Search query">
                <input type="submit" value="Go!">
            </form>

            <form class="site-header-button" action="#navbar-nav">
                <input class="profile-button" type="submit" value="My profile"/>
            </form>
        </ul>
    </header>

	<nav class="navigation-panel">
        <div class="border"></div>

        <ul class="navigation-text">
            <li class="nav-url-container"><a href="{% url 'polls-doc' %}" class="nav-url">Документы</a></li>
            <li class="nav-url-container"><a href="{% url 'polls-myDoc' %}" class="nav-url">Мои документы</a></li>
            <li class="nav-url-container"><a href="{% url 'polls-settings' %}" class="nav-url">Настройки</a></li>
        </ul>
    </nav>
    <main class="main">
        <div class="border"></div>
        <div id="navbar-nav" class="navbar-nav">
            <div class="navbar-nav-top">
                <a href="" class="popup-close">X</a>

                {% if user.is_authenticated %}
                    <img class="account-img" src="">
            	    <h3 class="account-heading"> {{ user.username }} </h3>
                    <h4 class="text-secondary">{{ user.email }}</h4>
          	    {% endif %}

            </div>
            <div class="navbar-nav-bot">
                {% if user.is_authenticated %}
            	    <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
          	    {% else %}
            	    <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
          	    {% endif %}
            </div>
        </div>
        {% block content %} {% endblock %}
    </main>
    <footer class="footer">

	</footer>
</body>
</html>