html {
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    font-family: sans-serif;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: Snow;
}

.border{
    outline: 2px solid black;
    width: 100%;
    height: 100%;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0%;
    left: 0%;
    background: black;
    opacity: 0.6;
}

.content-section{
    position: absolute;
    width: 300px;
    height: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background: snow;

}

.btn-outline-info{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 3px 20px;
    text-align: center;
    border-radius: 6px;
    transition: all ease 0.3s;
}

.btn-outline-info:hover{
    background-color: LightGray;
    transition: all ease 0.3s;
}

.btn-outline-info:active {
    background-color: DarkGray;
}


.text-logout{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
    color: black;
    text-align: center;
    font-size: 26px;
}

.login-link{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%);
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.login-link:hover{
    color: DarkGreen;
    transition: all ease 0.3s;
}

.login-link:active{
    color: green;
}
